# Dependencias
node_modules/
npm-debug.log*

# Variables de entorno
.env
.env.local
.env.production

# Build
dist/
build/

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
*.log

,env
src/,env
src/.env